<%# The "base" layout contains boilerplate common to *all* views. %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Blog <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->
    <%= capybara_lockstep if defined?(Capybara::Lockstep) %>
    <title>
      <%= "#{strip_tags(yield(:title))} – " if content_for?(:title) %>
      Blog
    </title>
    <%# Specifies the default name of home screen bookmark in iOS %>
    <meta name="apple-mobile-web-app-title" content="Blog">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", "data-turbo-track": "reload" %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
    <%= yield(:head) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
